.article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 24px;
	max-width: var(--container-width, auto);
	margin: 0 auto;
	padding: 90px 0 144px;
}

.titleDescription {
	max-width: 550px;
}

.image {
	display: block;
	width: var(--image-width, 1600px);
	height: 1000px;
	margin-top: 26px;
	margin-right: calc(50vw - calc(var(--image-width, 1600px) / 2));
	margin-left: calc(50vw - calc(var(--image-width, 1600px) / 2));
	object-fit: cover;
}
